fastapi[standard]
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
supabase
alembic
python-multipart
email-validator
python-jose[cryptography]
email-validator
python-jose[cryptography]
passlib[bcrypt]